{% if site.data.settings.portfolio-items %}
<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Portfolio</h2>
      </div>
    </div>
    <div class="row shuffle-wrapper">
      {% for item in site.data.settings.portfolio-items offset:0 limit:3 %}
      <div class="col-lg-6 col-sm-12 mb-4 shuffle-item" data-groups="[{% for portfolio in item.portfolio-type %}{% if forloop.first == true %}{% else %},{% endif %}&quot;{{ portfolio.type }}&quot;{% endfor %}]">
        <article class="card shadow">
          <img class="rounded card-img-top mb-2" src="{{ site.baseurl }}/{{ item.image }}" alt="{{ item.title }}">
          <div class="card-body">
            <h3 class="card-title mb-0">
              <a class="text-dark" href="{{ item.url | relative_url }}">{{ item.title }}</a>
            </h3>
            <p class="mb-0">{{ item.range }}</p>

            {% if item.stack %} 
            <div class="mb-3">
              {% for stack in item.stack %}
                <span class="tag">{{stack}}</span>
              {% endfor %}
            </div>  
            {% endif %}

            {% if item.summary %}
            <p class="font-secondary" style="line-height: 1.4;">{{ item.summary }}</p>
            {% endif %}
            <!-- <p class="card-text">{% assign curlyend = '}' %}{{ item.excerpt | markdownify | strip_html | replace: "{% include JB/setup %", "" | replace: curlyend, "" | truncatewords: 30 }}</p> -->
            <a href="{{ item.url | relative_url }}" class="btn btn-xs btn-primary">Read More</a>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /portfolio -->
{% endif %}